$main-color: #8891da;
$animate-color: #ff6900;
@keyframes pulseDemoIcon {
  $i: 0;
  @while $i <= 100 {
    @if ($i % 40 == 0) {
      #{$i * 1%} {
        transform: scale(1.2);
        fill: $animate-color;
      }
    } @else {
      #{$i * 1%} {
        transform: scale(1);
        fill: $main-color;
      }
    }
    $i: $i + 20;
  }
}

@for $i from 1 through 3 {
  .widget-item:nth-child(#{$i}) .widget-info__btn .icon {
    animation-delay: 2s * $i;
  }
}

.widget-info__btn {
  display: inline-block;
  position: relative;
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
  &:hover .icon {
    transform: scale(1.2);
    fill: $animate-color;
  }
}
.icon {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  stroke-width: 0;
  fill: $main-color;
  animation: pulseDemoIcon 2s ease-in;
}