.widget-info {
    display: flex;
    padding: 15px 10px;
    align-items: center;
    p {
      padding: 0px;
    }
    &__list {
      display: flex;
      flex-direction: column;
    }
    &__icon {
      width: 90px;
      height: 90px;
      padding: 0px 35px 0px 20px;
    }
    &__top {
      display: flex;
      margin-bottom: 5px;
    }
    &__title {
      display: inline;
      font-weight: bold;
      text-transform: uppercase;
      margin-right: 20px;
      line-height: 1;
    }
    &__btn {
      display: inline-block;
      position: relative;
      width: 16px;
      height: 16px;
      cursor: pointer;
      &:hover {
        zoom: 1.2;
        left: -2px;
      }
      &-list {
        display: inline-flex;
        position: relative;
        align-items: center;
        text-align: right;
      }
      &.btn {
        &-show-demo {
          position: absolute;
          margin-right: 6px;
          width: 26px;
          background: {
            image: url("/images/show-demo.png");
            size: contain;
            repeat: no-repeat;
          }
        }
        &-add-widget {
          background: {
            image: url("/images/add-widget.png");
            size: contain;
            repeat: no-repeat;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 480px) {
    .widget-info {
      flex-direction: column;
      &__icon {
        margin-bottom: 20px;
      }
      &__description {
        text-align: left;
      }
    }
  }