$popup-width: 420px;
$popup-trigger-width: 30px;
$popup-content-width: $popup-width - $popup-trigger-width;
$popup-trigger-height: 70px;
$text-color: #fff;
$bg-color: #ff6900;
$trandition-delay: .6s;
.sticky-popup {
    width: $popup-width;
    color: $text-color;
    position: absolute;
    top: 10px;
    right: - $popup-content-width;
    transition: $trandition-delay;
    &[visible="true"] {
        right: 0;
        .sticky-popup-trigger span {
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
        }
    }
    &-container {
        display: flex;
    }
    &-trigger {
        position: relative;
        min-width: $popup-trigger-width;
        width: $popup-trigger-width;
        height: $popup-trigger-height;
        border-right: 1px solid $text-color;
        background: $bg-color;
        cursor: pointer;
        span {
            position: absolute;
            width: 15px;
            height: 25px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);&::before,
            &::after {
              content: "";
              position: absolute;
              display: block;
              left: 50%;
              width: 1.5px;
              height: 15px;
              background: $text-color;
            }
            &::before {
              top: 10px;
              transform: rotate(-45deg);
            }
            &::after {
              transform: rotate(45deg);
            }
        }
    }
    &-content {
        width: 420px;
        background: $bg-color;        
    }
    &-info {
        padding: 10px;
        &__title {
            text-decoration: none;
            color: $text-color;
            font-size: 18px;
        }
        &__description {
            font-size: 0.7rem;
            line-height: 1;
            text-align: left;
        }
        &__promo {
            position: relative;
            margin: 10px auto;
            width: 50%;
            &:hover {
                input {
                    padding: 4px 8px 12px;
                    background: rgba(255, 255, 255, .2);
                    & + span {
                        display: block;
                    }
                }
            }
            input {
                display: block;
                margin: auto;
                padding: 8px;
                width: calc(100% - 16px);
                font-weight: bold;
                font-size: large;
                border: 1px dashed $text-color;
                border-radius: 3px;
                color: $text-color;
                background: rgba(255, 255, 255, 0.1);
                text-align: center;
                cursor: pointer;
                &:focus {
                    outline: none;
                }
                &::selection {
                    background: transparent;
                }
            }
            span {
                position: absolute;
                display: none;
                left: 50%;
                bottom: 0;
                width: 100%;
                text-align: center;
                font-size: xx-small;
                transform: translateX(-50%);
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), transparent);
                cursor: pointer;
            }
        }
    }
}

.item-sticky-popup .demo-body-simulator {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

@media screen and (max-width: 510px) {
    .sticky-popup {
        width: 90%;
        right: calc(-90% + 20px);
        &-trigger {
            width: 20px;
            min-width: 20px;
        }
    }
}

@media screen and (max-width: 410px) {
    .item-sticky-popup .demo-body-simulator {
        height: 250px;
    }
}