$main-color: #8891da;

.widget-item {
  margin: 10px 0px;
  border: 3px solid $main-color;
  border-style: dashed;
  border-radius: 10px;
}

.widget-info {
    display: flex;
    padding: 15px 10px;
    align-items: center;
    p {
      padding: 0px;
    }
    &__list {
      display: flex;
      flex-direction: column;
    }
    &__icon {
      width: 90px;
      height: 90px;
      padding: 0px 35px 0px 20px;
    }
    &__top {
      display: flex;
      margin-bottom: 5px;
      align-items: center;
    }
    &__title {
      display: inline;
      font-weight: bold;
      text-transform: uppercase;
      margin-right: 15px;
      line-height: 1;
    }
    &__btn-list {
        display: inline-flex;
        position: relative;
        align-items: center;
        text-align: right;
    }
  }
  
  @media screen and (max-width: 480px) {
    .widget-info {
      flex-direction: column;
      &__icon {
        margin-bottom: 20px;
      }
      &__description {
        text-align: left;
      }
    }
  }